<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bievenido</title>

    <link rel="stylesheet" href="../public/css/normalize.css">
    <link rel="stylesheet" href="../public/css/styles.css">
    <script src="https://kit.fontawesome.com/431382e374.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap" rel="stylesheet">
</head>
<body>
    <header>

        <div class="top-nav-bar">
            <ul class="top-nav-bar-list">
                <li><a href="../views/home.html"><img src="../public/img/logo.png" alt=""></a></li>
                <li><input type="search" placeholder="Busca aquí"><button><i class="fa-solid fa-magnifying-glass"></i></button></li>
                <li><i class="fa-solid fa-truck-fast"></i>Envíos en 24 Horas</li>
            </ul>
        </div>
       <div class="nav-bar">
          <ul class="right-nav-bar">
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas oficiales</a></li>
            <li><a href="#">Vender</a></li>
          </ul>
          <ul class="left-nav-bar">
            <li><a href="#">Crear Cuenta</a></li>
            <li><a href="#">Ingreso</a></li>
            <li><a href="#">Mis compras<i class="fa-solid fa-basket-shopping-simple"></i></a></li>
          </ul>
       </div>
    </header>
    <main>
        <div class="banner">
            <img class="home-banner" src="../public/img/banner2.png" alt="">
        </div>
        <h1 class="main-title">Basada en tu última visita</h1>
        <section class="articles-top">
            <article>
                <img class="img-articulo" src="../public/img/img-cafetera-moulinex.jpg" alt="">
                <h2 class="info-producto" >cafetera molinex <i class="fa-solid fa-truck-fast"></i></h2>
                <h2 class="info-producto" >$100</h2>
            </article>
            <article>
                <img class="img-articulo" src="../public/img/img-macbook-pro-2019.jpg" alt="">
                <h2 class="info-producto" >Macbook 2019 <i class="fa-solid fa-truck-fast"></i></h2>
                <h2 class="info-producto" >$200</h2>
            </article>
            <article>
                <img class="img-articulo" src="../public/img/img-samsung-galaxy-s10.jpg" alt="">
                <h2 class="info-producto" >Samsung s10 <i class="fa-solid fa-truck-fast"></i></h2>
                <h2 class="info-producto" >$150</h2>
            </article>
            <article>
                <img class="img-articulo" src="../public/img/img-tv-samsung-smart.jpg" alt="">
                <h2 class="info-producto" >Smart Tv <i class="fa-solid fa-truck-fast"></i></h2>
                <h2 class="info-producto" >$200</h2>
            </article>
        </section>
        <h1 class="main-title">Ofertas</h1>
        <section class="articles-bottom">
            <article>
                <img class="img-articulo" src="../public/img/img-cafetera-moulinex.jpg" alt="">
                <h2 class="info-producto" >cafetera molinex <i class="fa-solid fa-truck-fast"></i></h2>
                <h2 class="info-producto" >$100</h2>
            </article>
            <article>
                <img class="img-articulo" src="../public/img/img-macbook-pro-2019.jpg" alt="">
                <h2 class="info-producto" >Macbook 2019 <i class="fa-solid fa-truck-fast"></i></h2>
                <h2 class="info-producto" >$200</h2>
            </article>
            <article>
                <img class="img-articulo" src="../public/img/img-samsung-galaxy-s10.jpg" alt="">
                <h2 class="info-producto" >Samsung s10 <i class="fa-solid fa-truck-fast"></i></h2>
                <h2 class="info-producto" >$150</h2>
            </article>
            <article>
                <img class="img-articulo" src="../public/img/img-tv-samsung-smart.jpg" alt="">
                <h2 class="info-producto" >Smart Tv <i class="fa-solid fa-truck-fast"></i></h2>
                <h2 class="info-producto" >$200</h2>
            </article>
        </section>

    </main>
</body>
</html>