
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
   }

   img{
    max-width: 200px;
}
body {
    background: #ebebeb;
}

header{
    display: flex;
}
ul{
    display: flex;
    list-style: none;
}