
body {
    font-family: 'Roboto', sans-serif;
}

 /* ESTO LE DA BORDE SOLIDO A TODO, MIRAS LO Q OCUPA y DPS LO COMENTAS PARA Q DEJE DE FUNCIONAR */
/* *{
    border: solid 1px black;
} */

a {
    text-decoration: none;
    color: var(--main-text-color);
}
:root {
    --main-bg-color: rgba(255,241,89,255);
    --second-bg-color: rgb(228, 228, 228);
    --main-text-color: rgb(0, 42, 113);
    --second-text-color: rgb(117, 117, 117);
    --article-main-color: rgb(255, 255, 255);
    --icon-promtion-color: rgb(0, 162, 0);
  } /*No hace falta q repliques ROOT */

/* Header */
header{
    background: var(--main-bg-color)
}

.top-nav-bar ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    color: var(--main-text-color);
    padding: 25px 10px 0px 10px;
}
.top-nav-bar ul li {
    padding:0px 40px 0px 40px ;  /*trbl */
}

.nav-bar{
    display: flex;
    justify-content: space-between;
}
.nav-bar ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.nav-bar ul li{
    padding: 0px 20px 10px 20px; 
    font-size: 1rem;
    color: var(--main-text-color);
}
/* hace que cuando pases el mouse por arriba de los li se encienda */
.nav-bar ul li :hover{
    color: var(--second-text-color);
    transition: 0.2s;
}

/* MAIN */
main{
    background: var(--second-bg-color);
}
article{
    padding: 2%;
    /*   */
    background: var(--article-main-color);
    border-radius: 20px;
}
.main-banner{
    position: relative;
    margin: auto;
    padding: auto;
}
.right-banner-button {
    position:absolute; 
    color:gray;
    right: 0;
    bottom: 50%;
    cursor: pointer;
 }
 
 .left-banner-button {
     position: absolute; 
     color:gray;
     left: 0;
     bottom: 50%;
     cursor: pointer;
  }

.main-banner img{ 
    max-width: 100vw;
    margin: auto;
    
}
.main-banner div{ 

    margin: auto;
    
}
.main-title{
    color:var(--second-text-color);
    padding: 0px 0px 0px 40px;
}

.articles-top{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.articles-bottom{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.info-producto{
    font-size: 0.7rem;
}

.img-articulo {
    max-width: 200px;
}

.promotion{
    color:var(--icon-promtion-color)
}


