<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home bienvenido</title>

    <link rel="stylesheet" href="../public/css/normalize.css">
    <link rel="stylesheet" href="../public/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" >
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.com/libraries/font-awesome">
    <script src="https://kit.fontawesome.com/431382e374.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <a href="#"><img class="logo" src="../public/img/logo.gif" /></a>
        <h1>Home</h1>
        <ul class="nav-bar">
            <li><i class="fa-solid fa-filter"></i><i class="fa-solid fa-filter"></i><i class="fa-solid fa-filter"></i></li>
            <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            <li><a href ="../views/login.html">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
            <li><a href="#">creá tu cuenta <i class="far fa-address-card"></i></a></li>
        </ul>

    </header>
    <main class="main">
        <section class="section-articulos">

            <div class="articulos">
                <figure class="articulo-img-carro">
                    <img src="../public/img/img-cafetera-moulinex.jpg" alt="cafetera">
                    <figure class="shipping-icon"><i class="fas fa-shipping-fast"></i>
                    </figure>
                    <div class="description-product">
                       <div class="texto">Cafetera Moulinex</div></div>
                </figure>

                <div class="description-container">
                    <div class="precio">$6.770</div>
                    <div class="descuento">40% off</div>
                </div>
            </div>

            <div class="articulos">
                <figure class="articulo-img-carro">
                    <img src="../public/img/img-macbook-pro-2019.jpg"  alt="macbook">
                    <figure class="shipping-icon"><i class="fas fa-shipping-fast"></i>
                    </figure>
                    <div class="description-product">
                        <div class="texto">MacBook Pro 2019</div></div>
                </figure>

                <div class="description-container">
                    <div class="precio">$230.000</div>
                    <div class="descuento">20% off</div>
                </div>
            </div>
                
            <div class="articulos">
               <figure class="articulo-img-carro">
                   <img src="../public/img/img-samsung-galaxy-s10.jpg" alt="samsung-galaxy">
                   <figure class="shipping-icon"><i class="fas fa-shipping-fast"></i>
                   </figure>
                    <div class="description-product">
                        <div class="texto">Samsung Galaxy S10</div></div>
               </figure>

               <div class="description-container">
                   <div class="precio">$70.500</div>
                   <div class="descuento">10% off</div>
               </div>
            </div>
            
            <div class="articulos">
                <figure class="articulo-img-carro">
                    <img src="../public/img/img-tv-samsung-smart.jpg"  alt="tv-samsung">
                    <figure class="shipping-icon"><i class="fas fa-shipping-fast"></i>
                    </figure>
                    <div class="description-product">
                        <div class="texto">SmartTv Samsung 43"</div></div>
                </figure>

                <div class="description-container">
                    <div class="precio">$23.200</div>
                    <div class="descuento">5% off</div>
                </div>
            </div>
                 
        </section>

    </main>
    
</body>
</html>