body {
    background: rgba(12, 5, 4, 0.032);
    font-family: 'Roboto', sans-serif;
}

/* Header */
header{
    background: rgba(255,241,89,255)
}
.nav-bar ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

/* MAIN */

.home-banner{
    max-width: 100vw;
}

.articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.info-producto{
    font-size: 0.7rem;
}

.img-articulo {
    max-width: 200px;
    border-radius: 20px;
}


